# Introduction to Data Analysis for Aspiring Data Scientists
## Data Analysis with `pandas`

## ![Spark Logo Tiny](https://files.training.databricks.com/images/105/logo_spark_tiny.png) In this lesson you:<br>
 - Motivate why to use `pandas`
 - Introduce `pandas` and its history
 - Import the COVID-19 dataset
   * `pd.read_csv()`
 - Summarize the data
   * `head`, `tail`, `shape`
   * `sum`, `min`, `count`, `mean`, `std`
   * `describe`
 - Slice and munge data
   * Slicing, `loc`, `iloc`
   * `value_counts`
   * `drop`
   * `sort_values`
   * Filtering
 - Group data and perform aggregate functions
   * `groupby`
 - Work with missing data and duplicates
   * `isnull`
   * `unique`, `drop_duplicates`
   * `fillna`
 - Visualization
   * Histograms
   * Scatterplots
   * Lineplots
 
 Check out [this cheetsheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf) for help.  Also see [the `pandas` docs.](https://pandas.pydata.org/docs/)

### Motivate why to use `pandas`

Let's start big picture...<br><br>

* Humans are tool using animals animals
* Computers are one of the most powerful tools we've created
* If you write code, you can unlock the full power of these tools

Ok, cool. But why `pandas`?<br><br>

* More and more, data is leading decision making
* Excel is great but what if...
  - You want to automate your analysis so it re-runs on new data each day?
  - You want to build a code base to share with your colleaguges
  - You want more robust analyses to feed a business decision
  - You want to do machine learning
* One of the core libraries used by data analysts and data scientists in Python

Enter `pandas`...

### Introduce `pandas` and its history

`pandas` is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of the Python programming language.

Highlights:

- Built in 2008, open sourced in 2009
- A fast and efficient **DataFrame object** for data manipulation with integrated indexing;
- Tools for **reading and writing data** between in-memory data structures and different formats: CSV and text files, Microsoft Excel, SQL databases, and the fast HDF5 format;
- Intelligent **data alignment** and integrated handling of **missing data**: gain automatic label-based alignment in computations and easily manipulate messy data into an orderly form;
- Flexible **reshaping and pivoting** of data sets;
- Intelligent label-based **slicing, fancy indexing, and subsetting** of large data sets;
- Columns can be inserted and deleted from data structures for **size mutability**;
- Aggregating or transforming data with a powerful **group by** engine allowing split-apply-combine operations on data sets;
- High performance **merging and joining** of data sets;
- Hierarchical axis **indexing** provides an intuitive way of working with high-dimensional data in a lower-dimensional data structure;
- **Time series**-functionality: date range generation and frequency conversion, moving window statistics, date shifting and lagging. Even create domain-specific time offsets and join time series without losing data;
- Highly **optimized** for performance, with critical code paths written in Cython or C.
- Python with pandas is in use in a wide variety of **academic and commercial domains**, including Finance, Neuroscience, Economics, Statistics, Advertising, Web Analytics, and more.


[Check out the book](https://www.amazon.com/gp/product/1491957662/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=quantpytho-20&creative=9325&linkCode=as2&creativeASIN=1491957662&linkId=ea8de4253cce96046e8ab0383ac71b33)

### Import the COVID-19 dataset

Use `%sh ls` to search the folder structure

In [7]:
%sh ls /dbfs/databricks-datasets/COVID/

In [8]:
%sh ls /dbfs/databricks-datasets/COVID/CSSEGISandData/csse_covid_19_data/csse_covid_19_daily_reports

Use `%sh head` to see the first few lines of CSV file

In [10]:
%sh head /dbfs/databricks-datasets/COVID/CSSEGISandData/csse_covid_19_data/csse_covid_19_daily_reports/04-11-2020.csv

Import `pandas`.  Alias it as `pd`

In [12]:
import pandas as pd

Read the csv file.  This creates a `DataFrame`

In [14]:
pd.read_csv("/dbfs/databricks-datasets/COVID/CSSEGISandData/csse_covid_19_data/csse_covid_19_daily_reports/04-11-2020.csv")

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-04-11 22:45:33,34.223334,-82.461707,9,0,0,0,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-04-11 22:45:33,30.295065,-92.414197,98,4,0,0,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-04-11 22:45:33,37.767072,-75.632346,15,0,0,0,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-04-11 22:45:33,43.452658,-116.241552,513,6,0,0,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-04-11 22:45:33,41.330756,-94.471059,1,0,0,0,"Adair, Iowa, US"
5,21001.0,Adair,Kentucky,US,2020-04-11 22:45:33,37.104598,-85.281297,6,0,0,0,"Adair, Kentucky, US"
6,29001.0,Adair,Missouri,US,2020-04-11 22:45:33,40.190586,-92.600782,11,0,0,0,"Adair, Missouri, US"
7,40001.0,Adair,Oklahoma,US,2020-04-11 22:45:33,35.884942,-94.658593,27,2,0,0,"Adair, Oklahoma, US"
8,8001.0,Adams,Colorado,US,2020-04-11 22:45:33,39.874321,-104.336258,543,23,0,0,"Adams, Colorado, US"
9,16003.0,Adams,Idaho,US,2020-04-11 22:45:33,44.893336,-116.454525,1,0,0,0,"Adams, Idaho, US"
10,17001.0,Adams,Illinois,US,2020-04-11 22:45:33,39.988156,-91.187868,25,0,0,0,"Adams, Illinois, US"
11,18001.0,Adams,Indiana,US,2020-04-11 22:45:33,40.745765,-84.936714,4,0,0,0,"Adams, Indiana, US"
12,28001.0,Adams,Mississippi,US,2020-04-11 22:45:33,31.476698,-91.353260,49,1,0,0,"Adams, Mississippi, US"
13,31001.0,Adams,Nebraska,US,2020-04-11 22:45:33,40.524494,-98.501178,45,0,0,0,"Adams, Nebraska, US"
14,39001.0,Adams,Ohio,US,2020-04-11 22:45:33,38.845411,-83.471896,3,0,0,0,"Adams, Ohio, US"
15,42001.0,Adams,Pennsylvania,US,2020-04-11 22:45:33,39.871404,-77.216103,44,1,0,0,"Adams, Pennsylvania, US"
16,53001.0,Adams,Washington,US,2020-04-11 22:45:33,46.982998,-118.560173,30,0,0,0,"Adams, Washington, US"
17,55001.0,Adams,Wisconsin,US,2020-04-11 22:45:33,43.969747,-89.767828,2,0,0,0,"Adams, Wisconsin, US"
18,50001.0,Addison,Vermont,US,2020-04-11 22:45:33,44.032173,-73.141309,54,0,0,0,"Addison, Vermont, US"
19,45003.0,Aiken,South Carolina,US,2020-04-11 22:45:33,33.543380,-81.636454,50,1,0,0,"Aiken, South Carolina, US"
20,12001.0,Alachua,Florida,US,2020-04-11 22:45:33,29.678665,-82.359282,174,0,0,0,"Alachua, Florida, US"
21,37001.0,Alamance,North Carolina,US,2020-04-11 22:45:33,36.043470,-79.399761,34,0,0,0,"Alamance, North Carolina, US"
22,6001.0,Alameda,California,US,2020-04-11 22:45:33,37.646294,-121.892927,806,21,0,0,"Alameda, California, US"
23,8003.0,Alamosa,Colorado,US,2020-04-11 22:45:33,37.572506,-105.788545,7,2,0,0,"Alamosa, Colorado, US"
24,36001.0,Albany,New York,US,2020-04-11 22:45:33,42.600603,-73.977239,446,12,0,0,"Albany, New York, US"
25,56001.0,Albany,Wyoming,US,2020-04-11 22:45:33,41.654987,-105.723541,5,0,0,0,"Albany, Wyoming, US"
26,51003.0,Albemarle,Virginia,US,2020-04-11 22:45:33,38.020807,-78.554811,46,0,0,0,"Albemarle, Virginia, US"
27,28003.0,Alcorn,Mississippi,US,2020-04-11 22:45:33,34.880845,-88.579962,7,0,0,0,"Alcorn, Mississippi, US"
28,37003.0,Alexander,North Carolina,US,2020-04-11 22:45:33,35.922380,-81.177519,2,0,0,0,"Alexander, North Carolina, US"
29,51510.0,Alexandria,Virginia,US,2020-04-11 22:45:33,38.814003,-77.081831,188,1,0,0,"Alexandria, Virginia, US"
...,...,...,...,...,...,...,...,...,...,...,...,...
2936,NaN,NaN,NaN,South Sudan,2020-04-11 22:45:13,6.877000,31.307000,4,0,0,4,South Sudan
2937,NaN,NaN,NaN,Spain,2020-04-11 22:45:13,40.463667,-3.749220,163027,16606,59109,87312,Spain
2938,NaN,NaN,NaN,Sri Lanka,2020-04-11 22:45:13,7.873054,80.771797,198,7,54,137,Sri Lanka
2939,NaN,NaN,NaN,Sudan,2020-04-11 22:45:13,12.862800,30.217600,19,2,2,15,Sudan
2940,NaN,NaN,NaN,Suriname,2020-04-11 22:45:13,3.919300,-56.027800,10,1,4,5,Suriname
2941,NaN,NaN,NaN,Sweden,2020-04-11 22:45:13,60.128161,18.643501,10151,887,381,8883,Sweden
2942,NaN,NaN,NaN,Switzerland,2020-04-11 22:45:13,46.818200,8.227500,25107,1036,12100,11971,Switzerland
2943,NaN,NaN,NaN,Syria,2020-04-11 22:45:13,34.802075,38.996815,25,2,5,18,Syria
2944,NaN,NaN,NaN,Taiwan*,2020-04-11 08:05:21,23.700000,121.000000,385,6,99,280,Taiwan*
2945,NaN,NaN,NaN,Tanzania,2020-04-11 22:45:13,-6.369028,34.888822,32,3,5,24,Tanzania
2946,NaN,NaN,NaN,Thailand,2020-04-11 22:45:13,15.870032,100.992541,2518,35,1135,1348,Thailand
2947,NaN,NaN,NaN,Timor-Leste,2020-04-11 22:45:13,-8.874217,125.727539,2,0,1,1,Timor-Leste
2948,NaN,NaN,NaN,Togo,2020-04-11 22:45:13,8.619500,0.824800,76,3,25,48,Togo
2949,NaN,NaN,NaN,Trinidad and Tobago,2020-04-11 22:45:13,10.691800,-61.222500,112,8,12,92,Trinidad and Tobago
2950,NaN,NaN,NaN,Tunisia,2020-04-11 22:45:13,33.886917,9.537499,685,28,43,614,Tunisia
2951,NaN,NaN,NaN,Turkey,2020-04-11 22:45:13,38.963700,35.243300,52167,1101,2965,48101,Turkey
2952,NaN,NaN,NaN,Uganda,2020-04-11 22:45:13,1.373333,32.290275,53,0,4,49,Uganda
2953,NaN,NaN,NaN,Ukraine,2020-04-11 22:45:13,48.379400,31.165600,2511,73,79,2359,Ukraine
2954,NaN,NaN,NaN,United Arab Emirates,2020-04-11 22:45:13,23.424076,53.847818,3736,20,588,3128,United Arab Emirates
2955,NaN,NaN,NaN,United Kingdom,2020-04-11 22:45:13,55.378100,-3.436000,78991,9875,344,68772,United Kingdom
2956,NaN,NaN,NaN,Uruguay,2020-04-11 22:45:13,-32.522800,-55.765800,494,7,214,273,Uruguay
2957,NaN,NaN,NaN,Uzbekistan,2020-04-11 22:45:13,41.377491,64.585262,767,4,42,721,Uzbekistan
2958,NaN,NaN,NaN,Venezuela,2020-04-11 22:45:13,6.423800,-66.589700,175,9,93,73,Venezuela
2959,NaN,NaN,NaN,Vietnam,2020-04-11 22:45:13,14.058324,108.277199,258,0,144,114,Vietnam
2960,NaN,NaN,NaN,West Bank and Gaza,2020-04-11 22:45:13,31.952200,35.233200,268,2,57,209,West Bank and Gaza
2961,NaN,NaN,NaN,Western Sahara,2020-04-11 22:45:13,24.215500,-12.885800,4,0,0,4,",,Western Sahara"
2962,NaN,NaN,NaN,Yemen,2020-04-11 22:45:13,15.552727,48.516388,1,0,0,1,Yemen
2963,NaN,NaN,NaN,Zambia,2020-04-11 22:45:13,-13.133897,27.849332,40,2,28,10,Zambia
2964,NaN,NaN,NaN,Zimbabwe,2020-04-11 22:45:13,-19.015438,29.154857,14,3,0,11,Zimbabwe
2965,NaN,unassigned,Utah,US,2020-04-11 22:45:33,NaN,NaN,0,5,0,0,"unassigned, Utah, US"

Now let's combine the lines of code and save the `DataFrame` to a variable so we can reuse it

In [16]:
import pandas as pd

df = pd.read_csv("/dbfs/databricks-datasets/COVID/CSSEGISandData/csse_covid_19_data/csse_covid_19_daily_reports/04-11-2020.csv")

df

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-04-11 22:45:33,34.223334,-82.461707,9,0,0,0,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-04-11 22:45:33,30.295065,-92.414197,98,4,0,0,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-04-11 22:45:33,37.767072,-75.632346,15,0,0,0,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-04-11 22:45:33,43.452658,-116.241552,513,6,0,0,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-04-11 22:45:33,41.330756,-94.471059,1,0,0,0,"Adair, Iowa, US"
5,21001.0,Adair,Kentucky,US,2020-04-11 22:45:33,37.104598,-85.281297,6,0,0,0,"Adair, Kentucky, US"
6,29001.0,Adair,Missouri,US,2020-04-11 22:45:33,40.190586,-92.600782,11,0,0,0,"Adair, Missouri, US"
7,40001.0,Adair,Oklahoma,US,2020-04-11 22:45:33,35.884942,-94.658593,27,2,0,0,"Adair, Oklahoma, US"
8,8001.0,Adams,Colorado,US,2020-04-11 22:45:33,39.874321,-104.336258,543,23,0,0,"Adams, Colorado, US"
9,16003.0,Adams,Idaho,US,2020-04-11 22:45:33,44.893336,-116.454525,1,0,0,0,"Adams, Idaho, US"
10,17001.0,Adams,Illinois,US,2020-04-11 22:45:33,39.988156,-91.187868,25,0,0,0,"Adams, Illinois, US"
11,18001.0,Adams,Indiana,US,2020-04-11 22:45:33,40.745765,-84.936714,4,0,0,0,"Adams, Indiana, US"
12,28001.0,Adams,Mississippi,US,2020-04-11 22:45:33,31.476698,-91.353260,49,1,0,0,"Adams, Mississippi, US"
13,31001.0,Adams,Nebraska,US,2020-04-11 22:45:33,40.524494,-98.501178,45,0,0,0,"Adams, Nebraska, US"
14,39001.0,Adams,Ohio,US,2020-04-11 22:45:33,38.845411,-83.471896,3,0,0,0,"Adams, Ohio, US"
15,42001.0,Adams,Pennsylvania,US,2020-04-11 22:45:33,39.871404,-77.216103,44,1,0,0,"Adams, Pennsylvania, US"
16,53001.0,Adams,Washington,US,2020-04-11 22:45:33,46.982998,-118.560173,30,0,0,0,"Adams, Washington, US"
17,55001.0,Adams,Wisconsin,US,2020-04-11 22:45:33,43.969747,-89.767828,2,0,0,0,"Adams, Wisconsin, US"
18,50001.0,Addison,Vermont,US,2020-04-11 22:45:33,44.032173,-73.141309,54,0,0,0,"Addison, Vermont, US"
19,45003.0,Aiken,South Carolina,US,2020-04-11 22:45:33,33.543380,-81.636454,50,1,0,0,"Aiken, South Carolina, US"
20,12001.0,Alachua,Florida,US,2020-04-11 22:45:33,29.678665,-82.359282,174,0,0,0,"Alachua, Florida, US"
21,37001.0,Alamance,North Carolina,US,2020-04-11 22:45:33,36.043470,-79.399761,34,0,0,0,"Alamance, North Carolina, US"
22,6001.0,Alameda,California,US,2020-04-11 22:45:33,37.646294,-121.892927,806,21,0,0,"Alameda, California, US"
23,8003.0,Alamosa,Colorado,US,2020-04-11 22:45:33,37.572506,-105.788545,7,2,0,0,"Alamosa, Colorado, US"
24,36001.0,Albany,New York,US,2020-04-11 22:45:33,42.600603,-73.977239,446,12,0,0,"Albany, New York, US"
25,56001.0,Albany,Wyoming,US,2020-04-11 22:45:33,41.654987,-105.723541,5,0,0,0,"Albany, Wyoming, US"
26,51003.0,Albemarle,Virginia,US,2020-04-11 22:45:33,38.020807,-78.554811,46,0,0,0,"Albemarle, Virginia, US"
27,28003.0,Alcorn,Mississippi,US,2020-04-11 22:45:33,34.880845,-88.579962,7,0,0,0,"Alcorn, Mississippi, US"
28,37003.0,Alexander,North Carolina,US,2020-04-11 22:45:33,35.922380,-81.177519,2,0,0,0,"Alexander, North Carolina, US"
29,51510.0,Alexandria,Virginia,US,2020-04-11 22:45:33,38.814003,-77.081831,188,1,0,0,"Alexandria, Virginia, US"
...,...,...,...,...,...,...,...,...,...,...,...,...
2936,NaN,NaN,NaN,South Sudan,2020-04-11 22:45:13,6.877000,31.307000,4,0,0,4,South Sudan
2937,NaN,NaN,NaN,Spain,2020-04-11 22:45:13,40.463667,-3.749220,163027,16606,59109,87312,Spain
2938,NaN,NaN,NaN,Sri Lanka,2020-04-11 22:45:13,7.873054,80.771797,198,7,54,137,Sri Lanka
2939,NaN,NaN,NaN,Sudan,2020-04-11 22:45:13,12.862800,30.217600,19,2,2,15,Sudan
2940,NaN,NaN,NaN,Suriname,2020-04-11 22:45:13,3.919300,-56.027800,10,1,4,5,Suriname
2941,NaN,NaN,NaN,Sweden,2020-04-11 22:45:13,60.128161,18.643501,10151,887,381,8883,Sweden
2942,NaN,NaN,NaN,Switzerland,2020-04-11 22:45:13,46.818200,8.227500,25107,1036,12100,11971,Switzerland
2943,NaN,NaN,NaN,Syria,2020-04-11 22:45:13,34.802075,38.996815,25,2,5,18,Syria
2944,NaN,NaN,NaN,Taiwan*,2020-04-11 08:05:21,23.700000,121.000000,385,6,99,280,Taiwan*
2945,NaN,NaN,NaN,Tanzania,2020-04-11 22:45:13,-6.369028,34.888822,32,3,5,24,Tanzania
2946,NaN,NaN,NaN,Thailand,2020-04-11 22:45:13,15.870032,100.992541,2518,35,1135,1348,Thailand
2947,NaN,NaN,NaN,Timor-Leste,2020-04-11 22:45:13,-8.874217,125.727539,2,0,1,1,Timor-Leste
2948,NaN,NaN,NaN,Togo,2020-04-11 22:45:13,8.619500,0.824800,76,3,25,48,Togo
2949,NaN,NaN,NaN,Trinidad and Tobago,2020-04-11 22:45:13,10.691800,-61.222500,112,8,12,92,Trinidad and Tobago
2950,NaN,NaN,NaN,Tunisia,2020-04-11 22:45:13,33.886917,9.537499,685,28,43,614,Tunisia
2951,NaN,NaN,NaN,Turkey,2020-04-11 22:45:13,38.963700,35.243300,52167,1101,2965,48101,Turkey
2952,NaN,NaN,NaN,Uganda,2020-04-11 22:45:13,1.373333,32.290275,53,0,4,49,Uganda
2953,NaN,NaN,NaN,Ukraine,2020-04-11 22:45:13,48.379400,31.165600,2511,73,79,2359,Ukraine
2954,NaN,NaN,NaN,United Arab Emirates,2020-04-11 22:45:13,23.424076,53.847818,3736,20,588,3128,United Arab Emirates
2955,NaN,NaN,NaN,United Kingdom,2020-04-11 22:45:13,55.378100,-3.436000,78991,9875,344,68772,United Kingdom
2956,NaN,NaN,NaN,Uruguay,2020-04-11 22:45:13,-32.522800,-55.765800,494,7,214,273,Uruguay
2957,NaN,NaN,NaN,Uzbekistan,2020-04-11 22:45:13,41.377491,64.585262,767,4,42,721,Uzbekistan
2958,NaN,NaN,NaN,Venezuela,2020-04-11 22:45:13,6.423800,-66.589700,175,9,93,73,Venezuela
2959,NaN,NaN,NaN,Vietnam,2020-04-11 22:45:13,14.058324,108.277199,258,0,144,114,Vietnam
2960,NaN,NaN,NaN,West Bank and Gaza,2020-04-11 22:45:13,31.952200,35.233200,268,2,57,209,West Bank and Gaza
2961,NaN,NaN,NaN,Western Sahara,2020-04-11 22:45:13,24.215500,-12.885800,4,0,0,4,",,Western Sahara"
2962,NaN,NaN,NaN,Yemen,2020-04-11 22:45:13,15.552727,48.516388,1,0,0,1,Yemen
2963,NaN,NaN,NaN,Zambia,2020-04-11 22:45:13,-13.133897,27.849332,40,2,28,10,Zambia
2964,NaN,NaN,NaN,Zimbabwe,2020-04-11 22:45:13,-19.015438,29.154857,14,3,0,11,Zimbabwe
2965,NaN,unassigned,Utah,US,2020-04-11 22:45:33,NaN,NaN,0,5,0,0,"unassigned, Utah, US"

### Summarize the data

First, let's talk tab completion

In [19]:
# df. # Uncomment this and press 'tab' with your cursor after the "."

Need help?

In [21]:
help(df.head())

Take a peak at the first and last few rows of the data

In [23]:
df.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-04-11 22:45:33,34.223334,-82.461707,9,0,0,0,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-04-11 22:45:33,30.295065,-92.414197,98,4,0,0,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-04-11 22:45:33,37.767072,-75.632346,15,0,0,0,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-04-11 22:45:33,43.452658,-116.241552,513,6,0,0,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-04-11 22:45:33,41.330756,-94.471059,1,0,0,0,"Adair, Iowa, US"

In [24]:
df.tail(2)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
2964,NaN,NaN,NaN,Zimbabwe,2020-04-11 22:45:13,-19.015438,29.154857,14,3,0,11,Zimbabwe
2965,NaN,unassigned,Utah,US,2020-04-11 22:45:33,NaN,NaN,0,5,0,0,"unassigned, Utah, US"

How many records are in the dataset?

In [26]:
df.shape

Summarize the data

In [28]:
# df.sum()
# df.min()
# df.max()
# df.count()
df.mean()
# df.std()

These summary stats are aggregated for you...

In [30]:
df.describe()

,FIPS,Lat,Long_,Confirmed,Deaths,Recovered,Active
count,2686.000000,2907.000000,2907.000000,2966.000000,2966.000000,2966.000000,2966.000000
mean,31172.744602,36.581616,-80.630198,597.273769,36.582266,135.573163,259.664531
std,17195.765629,9.996576,40.637602,6258.790749,593.397411,2303.045843,3663.293511
min,66.000000,-51.796300,-159.856183,0.000000,0.000000,0.000000,0.000000
25%,18085.500000,33.730899,-95.619116,4.000000,0.000000,0.000000,0.000000
50%,29144.000000,37.829989,-87.356027,13.000000,0.000000,0.000000,0.000000
75%,46066.500000,41.474923,-80.789848,64.000000,2.000000,0.000000,0.000000
max,99999.000000,71.706900,178.065000,163027.000000,19468.000000,64264.000000,100269.000000

### Slice and munge data

Grab just the confirmed cases

In [33]:
df['Confirmed']

Grab the country and confirmed cases.

In [35]:
df.columns

In [36]:
df[['Country_Region', 'Confirmed']]

,Country_Region,Confirmed
0,US,9
1,US,98
2,US,15
3,US,513
4,US,1
5,US,6
6,US,11
7,US,27
8,US,543
9,US,1
10,US,25
11,US,4
12,US,49
13,US,45
14,US,3
15,US,44
16,US,30
17,US,2
18,US,54
19,US,50
20,US,174
21,US,34
22,US,806
23,US,7
24,US,446
25,US,5
26,US,46
27,US,7
28,US,2
29,US,188
...,...,...
2936,South Sudan,4
2937,Spain,163027
2938,Sri Lanka,198
2939,Sudan,19
2940,Suriname,10
2941,Sweden,10151
2942,Switzerland,25107
2943,Syria,25
2944,Taiwan*,385
2945,Tanzania,32
2946,Thailand,2518
2947,Timor-Leste,2
2948,Togo,76
2949,Trinidad and Tobago,112
2950,Tunisia,685
2951,Turkey,52167
2952,Uganda,53
2953,Ukraine,2511
2954,United Arab Emirates,3736
2955,United Kingdom,78991
2956,Uruguay,494
2957,Uzbekistan,767
2958,Venezuela,175
2959,Vietnam,258
2960,West Bank and Gaza,268
2961,Western Sahara,4
2962,Yemen,1
2963,Zambia,40
2964,Zimbabwe,14
2965,US,0

Create a new column `Date`

In [38]:
import datetime

df["Date"] = datetime.date(2020, 4, 11)

In [39]:
df["Date"].head()

Slice the DataFrame to get the first 10 rows

In [41]:
df.loc[:10, ['Country_Region', 'Confirmed']]
# df.loc[0:10, ['Country_Region', 'Confirmed']] # Same thing

,Country_Region,Confirmed
0,US,9
1,US,98
2,US,15
3,US,513
4,US,1
5,US,6
6,US,11
7,US,27
8,US,543
9,US,1
10,US,25

Return just the first column from the first row

In [43]:
df.iloc[0, 0]

How many regions to we have per country?

In [45]:
df["Country_Region"].value_counts()

What's FIPS?

In [47]:
df = df.drop("FIPS", axis=1)

Sort by confirmed cases

In [49]:
df.sort_values("Confirmed", ascending=False)

,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Date
2937,NaN,NaN,Spain,2020-04-11 22:45:13,40.463667,-3.749220,163027,16606,59109,87312,Spain,2020-04-11
2865,NaN,NaN,Italy,2020-04-11 22:45:13,41.871940,12.567380,152271,19468,32534,100269,Italy,2020-04-11
2842,NaN,NaN,France,2020-04-11 22:45:13,46.227600,2.213700,129654,13832,26391,89431,",,France",2020-04-11
2846,NaN,NaN,Germany,2020-04-11 22:45:13,51.165691,10.451526,124908,2736,57400,64772,Germany,2020-04-11
1734,New York City,New York,US,2020-04-11 22:45:33,40.767273,-73.971526,98308,6367,0,0,"New York City, New York, US",2020-04-11
2955,NaN,NaN,United Kingdom,2020-04-11 22:45:13,55.378100,-3.436000,78991,9875,344,68772,United Kingdom,2020-04-11
2861,NaN,NaN,Iran,2020-04-11 22:45:13,32.427908,53.688046,70029,4357,41947,23725,Iran,2020-04-11
2731,NaN,Hubei,China,2020-04-11 01:38:00,30.975600,112.270700,67803,3219,64264,320,"Hubei, China",2020-04-11
2951,NaN,NaN,Turkey,2020-04-11 22:45:13,38.963700,35.243300,52167,1101,2965,48101,Turkey,2020-04-11
2799,NaN,NaN,Belgium,2020-04-11 22:45:13,50.833300,4.469936,28018,3346,5986,18686,Belgium,2020-04-11
2942,NaN,NaN,Switzerland,2020-04-11 22:45:13,46.818200,8.227500,25107,1036,12100,11971,Switzerland,2020-04-11
2901,NaN,NaN,Netherlands,2020-04-11 22:45:13,52.132600,5.291300,24413,2643,250,21520,Netherlands,2020-04-11
1716,Nassau,New York,US,2020-04-11 22:45:33,40.740665,-73.589419,22584,792,0,0,"Nassau, New York, US",2020-04-11
2806,NaN,NaN,Brazil,2020-04-11 22:45:13,-14.235000,-51.925300,20727,1124,173,19430,Brazil,2020-04-11
2287,Suffolk,New York,US,2020-04-11 22:45:33,40.883201,-72.801217,20321,458,0,0,"Suffolk, New York, US",2020-04-11
2593,Westchester,New York,US,2020-04-11 22:45:33,41.162784,-73.757417,18729,461,0,0,"Westchester, New York, US",2020-04-11
2916,NaN,NaN,Portugal,2020-04-11 22:45:13,39.399900,-8.224500,15987,470,266,15251,Portugal,2020-04-11
2792,NaN,NaN,Austria,2020-04-11 22:45:13,47.516200,14.550100,13806,337,6604,6865,Austria,2020-04-11
2919,NaN,NaN,Russia,2020-04-11 22:45:13,61.524010,105.318756,13584,106,1045,12433,Russia,2020-04-11
538,Cook,Illinois,US,2020-04-11 22:45:33,41.841448,-87.816588,13417,455,0,0,"Cook, Illinois, US",2020-04-11
2757,NaN,Quebec,Canada,2020-04-11 22:52:28,52.939900,-73.549100,12292,289,0,0,"Quebec, Canada",2020-04-11
2568,Wayne,Michigan,US,2020-04-11 22:45:33,42.278056,-83.378611,10951,652,0,0,"Wayne,Michigan,US",2020-04-11
2864,NaN,NaN,Israel,2020-04-11 22:45:13,31.046051,34.851612,10743,101,1341,9301,Israel,2020-04-11
2871,NaN,NaN,"Korea, South",2020-04-11 22:45:13,35.907757,127.766922,10480,211,7243,3026,"Korea, South",2020-04-11
2941,NaN,NaN,Sweden,2020-04-11 22:45:13,60.128161,18.643501,10151,887,381,8883,Sweden,2020-04-11
161,Bergen,New Jersey,US,2020-04-11 22:45:33,40.960109,-74.071643,9362,435,0,0,"Bergen, New Jersey, US",2020-04-11
2863,NaN,NaN,Ireland,2020-04-11 22:45:13,53.142400,-7.692100,8928,320,25,8583,Ireland,2020-04-11
1430,Los Angeles,California,US,2020-04-11 22:45:33,34.308284,-118.228241,8453,244,0,0,"Los Angeles, California, US",2020-04-11
2859,NaN,NaN,India,2020-04-11 22:45:13,20.593684,78.962880,8446,288,969,7189,India,2020-04-11
2069,Rockland,New York,US,2020-04-11 22:45:33,41.150279,-74.025605,7477,200,0,0,"Rockland, New York, US",2020-04-11
...,...,...,...,...,...,...,...,...,...,...,...,...
2419,Unassigned,Mississippi,US,2020-04-11 22:45:33,NaN,NaN,0,0,0,0,"Unassigned, Mississippi, US",2020-04-11
2421,Unassigned,Montana,US,2020-04-11 22:45:33,NaN,NaN,0,0,0,0,"Unassigned, Montana, US",2020-04-11
160,Benzie,Michigan,US,2020-04-11 22:45:33,44.638993,-86.016085,0,0,0,0,"Benzie, Michigan, US",2020-04-11
2422,Unassigned,Nebraska,US,2020-04-11 22:45:33,NaN,NaN,0,2,0,0,"Unassigned, Nebraska, US",2020-04-11
184,Bland,Virginia,US,2020-04-11 22:45:33,37.131281,-81.135994,0,0,0,0,"Bland, Virginia, US",2020-04-11
278,Butte,South Dakota,US,2020-04-11 22:45:33,44.906087,-103.507932,0,0,0,0,"Butte, South Dakota, US",2020-04-11
372,Cedar,Nebraska,US,2020-04-11 22:45:33,42.598885,-97.253120,0,0,0,0,"Cedar, Nebraska, US",2020-04-11
422,Chippewa,Michigan,US,2020-04-11 22:45:33,46.295527,-84.543534,0,0,0,0,"Chippewa, Michigan, US",2020-04-11
2760,NaN,Recovered,US,2020-04-11 22:45:33,NaN,NaN,0,0,31270,0,"Recovered, US",2020-04-11
2759,NaN,Recovered,Canada,2020-04-11 22:52:28,NaN,NaN,0,0,6589,0,"Recovered, Canada",2020-04-11
578,Crockett,Tennessee,US,2020-04-11 22:45:33,35.818307,-89.149163,0,0,0,0,"Crockett, Tennessee, US",2020-04-11
2709,NaN,Diamond Princess,Canada,2020-04-11 22:52:28,NaN,NaN,0,1,0,0,"Diamond Princess, Canada",2020-04-11
665,Dickenson,Virginia,US,2020-04-11 22:45:33,37.125610,-82.351242,0,0,0,0,"Dickenson, Virginia, US",2020-04-11
755,Essex,Virginia,US,2020-04-11 22:45:33,37.933576,-76.942303,0,0,0,0,"Essex, Virginia, US",2020-04-11
766,Falls Church,Virginia,US,2020-04-11 22:45:33,38.884853,-77.175608,0,0,0,0,"Falls Church, Virginia, US",2020-04-11
926,Grayson,Virginia,US,2020-04-11 22:45:33,36.656772,-81.232159,0,0,0,0,"Grayson, Virginia, US",2020-04-11
995,Hancock,Tennessee,US,2020-04-11 22:45:33,36.526929,-83.223758,0,0,0,0,"Hancock, Tennessee, US",2020-04-11
2469,Van Buren,Tennessee,US,2020-04-11 22:45:33,35.698645,-85.452217,0,0,0,0,"Van Buren, Tennessee, US",2020-04-11
1057,Highland,Virginia,US,2020-04-11 22:45:33,38.357995,-79.561246,0,0,0,0,"Highland, Virginia, US",2020-04-11
2439,Unassigned,Wisconsin,US,2020-04-11 22:45:33,NaN,NaN,0,0,0,0,"Unassigned, Wisconsin, US",2020-04-11
2438,Unassigned,West Virginia,US,2020-04-11 22:45:33,NaN,NaN,0,1,0,0,"Unassigned, West Virginia, US",2020-04-11
2436,Unassigned,Virginia,US,2020-04-11 22:45:33,NaN,NaN,0,91,0,0,"Unassigned, Virginia, US",2020-04-11
2433,Unassigned,South Dakota,US,2020-04-11 22:45:33,NaN,NaN,0,0,0,0,"Unassigned, South Dakota, US",2020-04-11
2431,Unassigned,Pennsylvania,US,2020-04-11 22:45:33,NaN,NaN,0,0,0,0,"Unassigned, Pennsylvania, US",2020-04-11
2430,Unassigned,Oklahoma,US,2020-04-11 22:45:33,NaN,NaN,0,0,0,0,"Unassigned, Oklahoma, US",2020-04-11
2429,Unassigned,Ohio,US,2020-04-11 22:45:33,NaN,NaN,0,0,0,0,"Unassigned, Ohio, US",2020-04-11
2427,Unassigned,New York,US,2020-04-11 22:45:33,NaN,NaN,0,4,0,0,"Unassigned, New York, US",2020-04-11
2426,Unassigned,New Mexico,US,2020-04-11 22:45:33,NaN,NaN,0,0,0,0,"Unassigned, New Mexico, US",2020-04-11
2424,Unassigned,New Hampshire,US,2020-04-11 22:45:33,NaN,NaN,0,19,0,0,"Unassigned, New Hampshire, US",2020-04-11
2965,unassigned,Utah,US,2020-04-11 22:45:33,NaN,NaN,0,5,0,0,"unassigned, Utah, US",2020-04-11

Let's just look at what's going on in the US

In [51]:
df[df["Country_Region"] == "US"]

,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Date
0,Abbeville,South Carolina,US,2020-04-11 22:45:33,34.223334,-82.461707,9,0,0,0,"Abbeville, South Carolina, US",2020-04-11
1,Acadia,Louisiana,US,2020-04-11 22:45:33,30.295065,-92.414197,98,4,0,0,"Acadia, Louisiana, US",2020-04-11
2,Accomack,Virginia,US,2020-04-11 22:45:33,37.767072,-75.632346,15,0,0,0,"Accomack, Virginia, US",2020-04-11
3,Ada,Idaho,US,2020-04-11 22:45:33,43.452658,-116.241552,513,6,0,0,"Ada, Idaho, US",2020-04-11
4,Adair,Iowa,US,2020-04-11 22:45:33,41.330756,-94.471059,1,0,0,0,"Adair, Iowa, US",2020-04-11
5,Adair,Kentucky,US,2020-04-11 22:45:33,37.104598,-85.281297,6,0,0,0,"Adair, Kentucky, US",2020-04-11
6,Adair,Missouri,US,2020-04-11 22:45:33,40.190586,-92.600782,11,0,0,0,"Adair, Missouri, US",2020-04-11
7,Adair,Oklahoma,US,2020-04-11 22:45:33,35.884942,-94.658593,27,2,0,0,"Adair, Oklahoma, US",2020-04-11
8,Adams,Colorado,US,2020-04-11 22:45:33,39.874321,-104.336258,543,23,0,0,"Adams, Colorado, US",2020-04-11
9,Adams,Idaho,US,2020-04-11 22:45:33,44.893336,-116.454525,1,0,0,0,"Adams, Idaho, US",2020-04-11
10,Adams,Illinois,US,2020-04-11 22:45:33,39.988156,-91.187868,25,0,0,0,"Adams, Illinois, US",2020-04-11
11,Adams,Indiana,US,2020-04-11 22:45:33,40.745765,-84.936714,4,0,0,0,"Adams, Indiana, US",2020-04-11
12,Adams,Mississippi,US,2020-04-11 22:45:33,31.476698,-91.353260,49,1,0,0,"Adams, Mississippi, US",2020-04-11
13,Adams,Nebraska,US,2020-04-11 22:45:33,40.524494,-98.501178,45,0,0,0,"Adams, Nebraska, US",2020-04-11
14,Adams,Ohio,US,2020-04-11 22:45:33,38.845411,-83.471896,3,0,0,0,"Adams, Ohio, US",2020-04-11
15,Adams,Pennsylvania,US,2020-04-11 22:45:33,39.871404,-77.216103,44,1,0,0,"Adams, Pennsylvania, US",2020-04-11
16,Adams,Washington,US,2020-04-11 22:45:33,46.982998,-118.560173,30,0,0,0,"Adams, Washington, US",2020-04-11
17,Adams,Wisconsin,US,2020-04-11 22:45:33,43.969747,-89.767828,2,0,0,0,"Adams, Wisconsin, US",2020-04-11
18,Addison,Vermont,US,2020-04-11 22:45:33,44.032173,-73.141309,54,0,0,0,"Addison, Vermont, US",2020-04-11
19,Aiken,South Carolina,US,2020-04-11 22:45:33,33.543380,-81.636454,50,1,0,0,"Aiken, South Carolina, US",2020-04-11
20,Alachua,Florida,US,2020-04-11 22:45:33,29.678665,-82.359282,174,0,0,0,"Alachua, Florida, US",2020-04-11
21,Alamance,North Carolina,US,2020-04-11 22:45:33,36.043470,-79.399761,34,0,0,0,"Alamance, North Carolina, US",2020-04-11
22,Alameda,California,US,2020-04-11 22:45:33,37.646294,-121.892927,806,21,0,0,"Alameda, California, US",2020-04-11
23,Alamosa,Colorado,US,2020-04-11 22:45:33,37.572506,-105.788545,7,2,0,0,"Alamosa, Colorado, US",2020-04-11
24,Albany,New York,US,2020-04-11 22:45:33,42.600603,-73.977239,446,12,0,0,"Albany, New York, US",2020-04-11
25,Albany,Wyoming,US,2020-04-11 22:45:33,41.654987,-105.723541,5,0,0,0,"Albany, Wyoming, US",2020-04-11
26,Albemarle,Virginia,US,2020-04-11 22:45:33,38.020807,-78.554811,46,0,0,0,"Albemarle, Virginia, US",2020-04-11
27,Alcorn,Mississippi,US,2020-04-11 22:45:33,34.880845,-88.579962,7,0,0,0,"Alcorn, Mississippi, US",2020-04-11
28,Alexander,North Carolina,US,2020-04-11 22:45:33,35.922380,-81.177519,2,0,0,0,"Alexander, North Carolina, US",2020-04-11
29,Alexandria,Virginia,US,2020-04-11 22:45:33,38.814003,-77.081831,188,1,0,0,"Alexandria, Virginia, US",2020-04-11
...,...,...,...,...,...,...,...,...,...,...,...,...
2673,Yakima,Washington,US,2020-04-11 22:45:33,46.457385,-120.738013,511,20,0,0,"Yakima, Washington, US",2020-04-11
2674,Yalobusha,Mississippi,US,2020-04-11 22:45:33,34.028242,-89.707620,13,0,0,0,"Yalobusha, Mississippi, US",2020-04-11
2675,Yamhill,Oregon,US,2020-04-11 22:45:33,45.233304,-123.308696,28,5,0,0,"Yamhill, Oregon, US",2020-04-11
2676,Yankton,South Dakota,US,2020-04-11 22:45:33,43.009245,-97.394676,20,0,0,0,"Yankton, South Dakota, US",2020-04-11
2677,Yates,New York,US,2020-04-11 22:45:33,42.635055,-77.103699,2,0,0,0,"Yates, New York, US",2020-04-11
2678,Yavapai,Arizona,US,2020-04-11 22:45:33,34.599339,-112.553859,63,0,0,0,"Yavapai, Arizona, US",2020-04-11
2679,Yazoo,Mississippi,US,2020-04-11 22:45:33,32.778904,-90.396561,58,1,0,0,"Yazoo, Mississippi, US",2020-04-11
2680,Yell,Arkansas,US,2020-04-11 22:45:33,35.002924,-93.411713,1,0,0,0,"Yell, Arkansas, US",2020-04-11
2681,Yellow Medicine,Minnesota,US,2020-04-11 22:45:33,44.717102,-95.868425,2,0,0,0,"Yellow Medicine, Minnesota, US",2020-04-11
2682,Yellowstone,Montana,US,2020-04-11 22:45:33,45.939559,-108.269149,57,0,0,0,"Yellowstone, Montana, US",2020-04-11
2683,Yolo,California,US,2020-04-11 22:45:33,38.682789,-121.901829,75,3,0,0,"Yolo, California, US",2020-04-11
2684,York,Maine,US,2020-04-11 22:45:33,43.478084,-70.710524,143,3,0,0,"York, Maine, US",2020-04-11
2685,York,Nebraska,US,2020-04-11 22:45:33,40.872726,-97.597102,3,0,0,0,"York, Nebraska, US",2020-04-11
2686,York,Pennsylvania,US,2020-04-11 22:45:33,39.921009,-76.730401,293,3,0,0,"York, Pennsylvania, US",2020-04-11
2687,York,South Carolina,US,2020-04-11 22:45:33,34.972815,-81.180859,127,3,0,0,"York, South Carolina, US",2020-04-11
2688,York,Virginia,US,2020-04-11 22:45:33,37.243748,-76.544128,27,1,0,0,"York, Virginia, US",2020-04-11
2689,Young,Texas,US,2020-04-11 22:45:33,33.176597,-98.687909,3,0,0,0,"Young, Texas, US",2020-04-11
2690,Yuba,California,US,2020-04-11 22:45:33,39.262559,-121.353564,15,1,0,0,"Yuba, California, US",2020-04-11
2691,Yukon-Koyukuk,Alaska,US,2020-04-11 22:45:33,65.508155,-151.390739,1,0,0,0,"Yukon-Koyukuk, Alaska, US",2020-04-11
2692,Yuma,Arizona,US,2020-04-11 22:45:33,32.768957,-113.906667,15,0,0,0,"Yuma, Arizona, US",2020-04-11
2693,Yuma,Colorado,US,2020-04-11 22:45:33,40.003468,-102.425867,2,0,0,0,"Yuma, Colorado, US",2020-04-11
2694,Zapata,Texas,US,2020-04-11 22:45:33,27.001564,-99.169872,3,0,0,0,"Zapata, Texas, US",2020-04-11
2710,NaN,Diamond Princess,US,2020-04-11 22:45:33,NaN,NaN,49,0,0,0,"Diamond Princess, US",2020-04-11
2719,NaN,Grand Princess,US,2020-04-11 22:45:33,NaN,NaN,103,3,0,0,"Grand Princess, US",2020-04-11
2722,NaN,Guam,US,2020-04-11 22:45:33,13.444300,144.793700,133,5,0,0,"Guam, US",2020-04-11
2749,NaN,Northern Mariana Islands,US,2020-04-11 22:45:33,15.097900,145.673900,6,1,0,0,",Northern Mariana Islands,US",2020-04-11
2755,NaN,Puerto Rico,US,2020-04-11 22:45:33,18.220800,-66.590100,788,42,0,0,"Puerto Rico, US",2020-04-11
2760,NaN,Recovered,US,2020-04-11 22:45:33,NaN,NaN,0,0,31270,0,"Recovered, US",2020-04-11
2778,NaN,Virgin Islands,US,2020-04-11 22:45:33,18.335800,-64.896300,51,1,0,0,",Virgin Islands,US",2020-04-11
2965,unassigned,Utah,US,2020-04-11 22:45:33,NaN,NaN,0,5,0,0,"unassigned, Utah, US",2020-04-11

Now let's look at what's going on in my county

In [53]:
df[(df["Country_Region"] == "US") & (df["Province_State"] == "California") & (df["Admin2"] == "San Francisco")]

,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Date
2108,San Francisco,California,US,2020-04-11 22:45:33,37.752151,-122.438567,857,13,0,0,"San Francisco, California, US",2020-04-11

### Group data and perform aggregate functions

What country has the greatest number of confirmed cases?

In [56]:
df.groupby("Country_Region")

Group and sum the data. **Note that an aggregate function return a scalar (single) value.**

In [58]:
df.groupby("Country_Region")["Confirmed"].sum().sort_values(ascending=False)

Which US states have the most cases?

In [60]:
df[df['Country_Region'] == "US"].groupby("Province_State")["Confirmed"].sum().sort_values(ascending=False)

### Work with missing data and duplicates

Do we have null values?

In [63]:
df.isnull().tail()

,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Date
2961,True,True,False,False,False,False,False,False,False,False,False,False
2962,True,True,False,False,False,False,False,False,False,False,False,False
2963,True,True,False,False,False,False,False,False,False,False,False,False
2964,True,True,False,False,False,False,False,False,False,False,False,False
2965,False,False,False,False,True,True,False,False,False,False,False,False

In [64]:
df.isnull().sum()

How many unique countries?

In [66]:
df['Country_Region'].unique().shape

Another way to do the same thing.

In [68]:
df['Country_Region'].drop_duplicates()

In [69]:
df.fillna("NO DATA AVAILABLE").tail(3)

,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Date
2963,NO DATA AVAILABLE,NO DATA AVAILABLE,Zambia,2020-04-11 22:45:13,-13.1339,27.8493,40,2,28,10,Zambia,2020-04-11
2964,NO DATA AVAILABLE,NO DATA AVAILABLE,Zimbabwe,2020-04-11 22:45:13,-19.0154,29.1549,14,3,0,11,Zimbabwe,2020-04-11
2965,unassigned,Utah,US,2020-04-11 22:45:33,NO DATA AVAILABLE,NO DATA AVAILABLE,0,5,0,0,"unassigned, Utah, US",2020-04-11

### Visualization
   * Histograms
   * Scatterplots
   * Lineplots

In [71]:
import matplotlib.pyplot as plt

%matplotlib inline

In [72]:
us_subset_df = df[df["Country_Region"] == "US"]

What is the _distribution_ of deaths by US states and territories?

In [74]:
us_subset_df.groupby("Province_State")["Deaths"].sum().hist()

In [75]:
us_subset_df.groupby("Province_State")["Deaths"].sum().hist(bins=30)

How do confirmed cases compare to deaths?

In [77]:
us_subset_df.plot.scatter(x="Confirmed", y="Deaths")

In [78]:
us_subset_df[us_subset_df["Deaths"] < 1000].plot.scatter(x="Confirmed", y="Deaths")

Import the data for all available days

In [80]:
import glob

path = "/dbfs/databricks-datasets/COVID/CSSEGISandData/csse_covid_19_data/csse_covid_19_daily_reports"
all_files = glob.glob(path + "/*.csv")

dfs = []

for filename in all_files:
  temp_df = pd.read_csv(filename)
  temp_df.columns = [c.replace("/", "_") for c in temp_df.columns]
  temp_df.columns = [c.replace(" ", "_") for c in temp_df.columns]
  
  month, day, year = filename.split("/")[-1].replace(".csv", "").split("-")
  d = datetime.date(int(year), int(month), int(day))
  temp_df["Date"] = d

  dfs.append(temp_df)
  
all_days_df = pd.concat(dfs, axis=0, ignore_index=True, sort=False)
all_days_df = all_days_df.drop(["Latitude", "Longitude", "Lat", "Long_", "FIPS", "Combined_Key", "Last_Update"], axis=1)

In [81]:
all_days_df.head()

,Province_State,Country_Region,Confirmed,Deaths,Recovered,Date,Admin2,Active
0,Anhui,Mainland China,1.0,NaN,NaN,2020-01-22,NaN,NaN
1,Beijing,Mainland China,14.0,NaN,NaN,2020-01-22,NaN,NaN
2,Chongqing,Mainland China,6.0,NaN,NaN,2020-01-22,NaN,NaN
3,Fujian,Mainland China,1.0,NaN,NaN,2020-01-22,NaN,NaN
4,Gansu,Mainland China,NaN,NaN,NaN,2020-01-22,NaN,NaN

How has the disease spread over time?

In [83]:
all_days_df.groupby("Date")["Confirmed"].sum().plot(title="Confirmed Cases over Time", rot=45)

Break this down by types of cases

In [85]:
all_days_df.groupby("Date")["Confirmed", "Deaths", "Recovered"].sum().plot(title="Confirmed, Deaths, Recovered over Time", rot=45)

What is the growth in my county?

In [87]:
(all_days_df[(all_days_df["Country_Region"] == "US") & (all_days_df["Province_State"] == "California") & (all_days_df["Admin2"] == "San Francisco")]
  .groupby("Date")["Confirmed", "Deaths", "Recovered"]
  .sum()
  .plot(title="Confirmed, Deaths, Recovered over Time", rot=45))

Wrap this up in a function and run it yourself!

In [89]:
def plotMyCountry(Country_Region, Province_State, Admin2):
  (all_days_df[(all_days_df["Country_Region"] == Country_Region) & (all_days_df["Province_State"] == Province_State) & (all_days_df["Admin2"] == Admin2)]
    .groupby("Date")["Confirmed", "Deaths", "Recovered"]
    .sum()
    .plot(title="Confirmed, Deaths, Recovered over Time", rot=45))
  
plotMyCountry("US", "New York", "New York City")